<form>
  <div class="form-control">
    <label for="task">Tarefa</label>
    <input id="task" name="task" type="text" placeholder="Adicionar Tarefa" />
  </div>
  <div class="form-control">
    <label for="day">Dia</label>
    <input id="day" name="day" type="text" placeholder="Dia e horario" />
  </div>
  <div class="form-contro form-control-check">
    <label for="reminder">Adicionar Lembrança?</label>
    <input id="reminder" name="reminder" type="checkbox" />
  </div>
  <input type="submit" value="Salvar Tarefa" class="btn btn-block" />
</form>
